<div class="flex flex-col items-start justify-between gap-5 sm:flex-row sm:items-center sm:gap-6">
  <a href="#video" class="group flex items-center gap-3 transition-opacity hover:opacity-85 sm:gap-4 lg:gap-5">
   
    
  </a>

  
</div>
